@page
@model E_Commerce_App.Pages.OrderConfirmation.OrderConfirmationModel
@using Newtonsoft.Json
@{
    Layout = "_Layout";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="bg-light border rounded-3  p-3">
                <form method="post" asp-page-handler="OnPost">
                    <h2>Order Confirmation</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" id="UserId" name="Order.UserId" value="@Model.OrderConfirmed.UserId" readonly hidden />
                        <input type="text" class="form-control" id="ID" name="Order.ID" value="@Model.OrderConfirmed.ID" readonly hidden />
                        <input type="hidden" id="formCartItems" name="formCartItems" value="@Model.formCartItems" hidden />
                    </div>

                    <div class="form-group ">
                        <label for="StreetAddress" class="text-muted">Street Address</label>
                        <input type="text" class="form-control" id="StreetAddress" name="Order.StreetAddress" required />
                    </div>

                    <div class="form-group ">
                        <label for="PostalCode" class="text-muted">Postal Code</label>
                        <input type="text" class="form-control" id="PostalCode" name="Order.PostalCode" required />
                    </div>

                    <div class="form-group ">
                        <label for="City" class="text-muted">City</label>
                        <input type="text" class="form-control" id="City" name="Order.City" required />
                    </div>

                    <div class="form-group ">
                        <label for="PhoneNumber" class="text-muted">Phone Number</label>
                        <input type="tel" class="form-control" id="PhoneNumber" name="Order.PhoneNumber" required />
                    </div>


                    <div class="form-group ">
                        <label for="OrderDate" class="text-muted">Order Date</label>
                        <input type="text" class="form-control" id="OrderDate" name="Order.OrderDate" value="@DateTime.Now" readonly />
                    </div>

                    <div class="form-group ">
                        <label for="TotalPrice" class="text-muted">Total Price</label>
                        <input type="text" class="form-control" id="TotalPrice" name="Order.TotalPrice" value="@Model.OrderConfirmed.TotalPrice" required readonly />
                    </div>

                    <button type="submit" class="btn btn-primary my-3">Confirm Order</button>

                </form>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="bg-light p-2 border border-rounded rounded-3 mb-4 table-responsive">
                <table class="table bg-light">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var list = new List<CartItem>();
                            @foreach (var cartitem in Model.OrderConfirmed.CartItems)
                            {
                                <tr>
                                    <td>
                                        <p class="lead fw-bold mb-0">@cartitem.Product.Name</p>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <form asp-controller="Cart" asp-action="UpdateCart" method="post">
                                                <input type="hidden" name="productId" value="@cartitem.Product.ProductId" />
                                                <div class="d-flex align-items-center">
                                                    <button type="submit" name="changeQuantity" value="-1" class="btn btn-primary px-3 me-2">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <div class="form-outline text-dark">
                                                        <input id="form1" min="0" name="quantity" value="@cartitem.Quantity" type="number" class="form-control" />
                                                        <label class="form-label" for="form1">Quantity</label>
                                                    </div>
                                                    <button type="submit" name="changeQuantity" value="+1" class="btn btn-primary px-3 ms-2">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td>@cartitem.Product.Price.ToString("0.00") JD</td>
                                    <td>@(cartitem.Product.Price * cartitem.Quantity) JD</td>
                                </tr>
                                list.Add(cartitem);
                            }
                            Model.OrderConfirmed.CartItems = list;
                            Model.formCartItems = list;
                        }
                    </tbody>
                </table>
                <div class="bg-light p-2 border border-rounded rounded-3 col-md-5 m-auto mb-1 fw-bold">
                    <p>Total Price: @Model.OrderConfirmed.TotalPrice  JD</p>
                </div>
            </div>
        </div>
    </div>
</div>

